@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  background-color: #F2F2F2;
  color: #333333;
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;

}

.page-conteiner {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100vh;
  background-color: #FFFFFF;
  margin: 0 auto;
}

.main {
  flex-grow: 1;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.header-main {
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  text-transform: capitalize;
}

.header-main a {
  text-decoration: none;
}

.nav {
  display: flex;
  width: 940px;
  margin: 0 auto;
}

.nav-list {
  width: 492px;
  margin: 0;
  padding: 0;
}

.nav-user-list {
  width: 312px;
  margin-left: auto;
}


.nav-link {
  color: #000000;
}

.nav-item {
  list-style: none;
}

.button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  border-radius: 4px;
  border-style: none;
  background: #756157;
  text-decoration: none;
  text-transform: uppercase;
}

.button-shadow {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  color: #FFFFFF;
  border-radius: 4px;
  border-style: none;
  background: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
}



.welcome {
  background-image: url("../images/background/background-bow.svg"), url("../images/background/background.jpg");
  background-repeat: no-repeat;
  width: 1200px;
  height: 485px;
  background-color: rgb(11, 129, 192);
}

.welcome-img {
  display: block;
  margin: 0 auto;
}


.advantages-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.reasons {
  font-size: 22px;
  line-height: 26px;
}

.advantages-title-reasons {
  line-height: 28px;
}

.advantages-description {
  line-height: 21px;
}


.advantages-list {
  margin: 0;
  padding: 0;
}

.advantages-list li {
  list-style: none;
}

.advantages-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
}

.advantages-item-accent {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.services-title {
  font-size: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.advantages-title-accent {
  color: #FFFFFF;
}

.services-reasons {
  font-size: 22px;
  line-height: 26px;
}

.services-title-reasons {
  line-height: 28px;
}

.services-description {
  line-height: 21px;
}


.advantages-item-lighter {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-light {
  background: rgba(131, 179, 211, 0.2);
}

.services-item {
  width: 400px;
  height: 385px;
}

.services-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.services-list li {
  list-style: none;
}

.services-title {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.services-item-lighter {
  background: rgba(131, 179, 211, 0.12);
}

.search-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.search-description {
  font-size: 22px;
}

.subscribe {
  background-image: url("../images/background/subscribe.jpg");
  background-repeat: no-repeat;
  width: 1200px;
  height: 414.86px;
}


.subscribe-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.subscribe-info {
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
}

.btn-secondary {
  font-size: 20px;
}

.enter-email {
  font-family: inherit;
  border-radius: 4px 0px 0px 4px;
  border-style: none;
}

.footer-page {
  display: flex;
}

.footer-page a {
  color: #000000;
  text-decoration: none;
}

.social-list {
  width: 150px;
  margin-left: 70px;
}

.contacts {
  line-height: 40px;
  width: 720px;
  margin: auto;
  text-align: center;
}

.social-list li {
  list-style: none;
}

.contacts-phone {
  font-style: normal;
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
}

.logo-academy {
  margin-right: 70px;
}




/* catalog */

.form-filter {
  color: #FFFFFF;
  background-image: url("../images/background/background-inner.jpg");
  background-repeat: no-repeat;
  width: 1200px;
  height: 412px;
}

.filter-form {
  display: flex;
  padding: 0;
}

.filter-group {
  border: none;
}

.hostels-title {
  font-size: 60px;
  font-weight: 700;
}

.navigation-list li {
  list-style: none;
}

.navigation-link {
  font-size: 16px;
}

.filter-list li {
  list-style: none;
}

.filter-title {
  font-size: 20px;
  font-weight: 700;
}

.button-reset {
  background: none;
}

.amount-pages-title {
  font-size: 30px;
  font-weight: 700;
  color: #000000;
}

.filter-sort-list {
  border-radius: 4px;
  border: 2px solid rgb(229, 229, 229);
}

.view-page-list {
  list-style: none;
}

.view-page {
  width: 48px;
  height: 48px;
  border-radius: 4px;
  border: 2px solid rgb(229, 229, 229);
}

.type-hotel-list {
  list-style: none;
}

.type-hotel-title {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
}

.rating {
  font-size: 16px;
  border-radius: 4px;
  background: #F2F2F2;
}

.button-like-current {
  background: #7DB54F;
}

.pagination-list {
  list-style: none;
}

.pagination-link {
  color: #ffffff;
  align-items: center;
  text-decoration: none;
}

.pagination-item {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  background: #82B3D3;
  text-decoration: none;
}

.pagination-item-current {
  background: #F2F2F2;
}

.pagination-link-current {
  color: #000000;
}

.pagination-item-next {
  background: #FFFFFF;
}

.pagination-link-next {
  color: #000000;
}

.subscribe-title-secondary {
  font-size: 30px;
  font-weight: 700;
  color: #000000;
}

.subscribe-info-secondary {
  font-size: 22px;
  color: #333333;
}
